.yellow1{
	background-color: #FFE03A
}
.yellow2{
	background-color: #FFD700
}
.yellow3{
	background-color: #DDBB00
}
.yellow4{
	background-color: #B39700
}
.yellow5{
	background-color: #877200
}
.orange1{
	background-color: #FF6A00
}
.green1{
	background-color: #77EBA6
}
.green2{
	background-color: #30DF77
}
.green3{
	background-color: #00D958
}
.green4{
	background-color: #00973D
}
.green5{
	background-color: #005824
}
.white{
	background-color: #ffffff
}