.green1{
	background-color: #77EBA6
}
.green2{
	background-color: #30DF77
}
.green3{
	background-color: #00D958
}
.green4{
	background-color: #00973D
}
.green5{
	background-color: #005824
}
.white{
	background-color: #ffffff
}
.sidebar{
	border-right: 3px solid rgba(0,0,0,.1);

}
textarea{
	resize: none;
}
.column{
	float: left;
	width: 15%;
	min-height: 100vh;
}

.left{
	padding: 0px 0px 0px 30px;
	width: 15%;
}

.right{
	width: 85%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}