body{
	overflow-x: hidden;
}
.green0{
	background-color: #A5F6C6
}
.green1{
	background-color: #77EBA6
}
.green2{
	background-color: #30DF77
}
.green3{
	background-color: #00D958
}
.green4{
	background-color: #00973D
}
.green5{
	background-color: #005824
}
.white{
	background-color: #ffffff
}
.gray{
	background-color: #dedede	
}
.sidebar{
	border-right: 3px solid rgba(0,0,0,0.5);

}
.botbar{
	border-bottom: 3px solid rgba(0,0,0,0.5);
	width: 86vw;
}
textarea{
	resize: none;
}
.column{
	float: left;
	min-height: 100vh;
}

.left{
	padding: 0px 0px 0px 30px;
	width: 15%;
}

.right{

	width: 85%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tw_back {
	border-radius: 5px;
	border: 2px solid #608273;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

.border-2{
	border: 5px solid #dee2e6 !important;
}

.container2 {
    min-width: 292px !important;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  }

.principal{
	font-size: 0.9rem;
}
