body {
	text-align: center	
}
form {
    display: inline-block;
    top: 50%;
    margin-top: 25%;
}
fieldset
{
    border:2px solid brown; 
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
input {
  width: 100%;
}
input[name=connexion] {
	width: 40%;
}
input[name=enregistrer]{
	width: 25%;
	margin-right: 20px
}
input[name=annuler]{
	width: 25%;
	margin-left: 20px
}